<p-toast />

<div class="bg-surface-50 dark:bg-surface-950 flex items-center justify-center min-h-screen min-w-[100vw] overflow-hidden">
  <div class="flex flex-col items-center justify-center">
    <div style="border-radius: 56px; padding: 0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%)">
        <div class="w-full bg-surface-0 dark:bg-surface-900 py-20 px-8 sm:px-20" style="border-radius: 53px">
            
            <div *ngIf="!messageSent">
                <div class="text-center mb-4">
                    <div class="text-surface-900 dark:text-surface-0 text-3xl font-medium mb-4">Esqueceu sua senha?</div>
                    <span class="text-muted-color font-medium">Não se preocupe!</span>
                </div>
                <div class="text-center text-muted-color font-medium mb-8">
                    Digite seu e-mail abaixo e enviaremos um link para redefinir sua senha.
                </div>
                <div>
                    <label for="email" class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">Email</label>
                    <input pInputText id="email" type="email" placeholder="Seu e-mail cadastrado" class="w-full md:w-[30rem] mb-8" 
                           [(ngModel)]="email" 
                           [disabled]="isLoading" />
                    <p-button label="Enviar Link" 
                              styleClass="w-full" 
                              [loading]="isLoading" 
                              (click)="onSubmit()"></p-button>
                    <div class="text-center mt-8">
                        <a routerLink="/auth/login" class="text-primary cursor-pointer font-bold">Voltar para o Login</a>
                    </div>
                </div>
            </div>

            <div *ngIf="messageSent" class="text-center">
                <i class="pi pi-check-circle text-primary" style="font-size: 3rem"></i>
                <div class="text-surface-900 dark:text-surface-0 text-3xl font-medium my-4">E-mail enviado!</div>
                <div class="text-muted-color font-medium mb-8">
                    Se o e-mail <span class="font-bold text-surface-900 dark:text-surface-0">{{ email }}</span> estiver cadastrado,
                    você receberá um link de recuperação em alguns minutos.
                </div>
                <a routerLink="/auth/login" class="text-primary cursor-pointer font-bold">Voltar para o Login</a>
            </div>
        </div>
    </div>
  </div>
</div>