<p-toast />

<div class="bg-surface-50 dark:bg-surface-950 flex items-center justify-center min-h-screen min-w-[100vw] overflow-hidden">
    <div class="flex flex-col items-center justify-center">
        <div style="border-radius: 56px; padding: 0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%)">
            <div class="w-full bg-surface-0 dark:bg-surface-900 py-20 px-8 sm:px-20" style="border-radius: 53px">
                
                <div *ngIf="!isSuccess">
                    <div class="text-center mb-8">
                        <div class="text-surface-900 dark:text-surface-0 text-3xl font-medium mb-4">Crie sua nova senha</div>
                    </div>

                    <div>
                        <label for="password" class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">Nova Senha</label>
                        <p-password id="password" 
                                    [(ngModel)]="password" 
                                    placeholder="Digite a nova senha" 
                                    [toggleMask]="true" 
                                    styleClass="mb-4" 
                                    [fluid]="true" 
                                    [feedback]="true"
                                    [disabled]="isLoading"></p-password>

                        <label for="confirmPassword" class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2 mt-4">Confirmar Senha</label>
                        <p-password id="confirmPassword" 
                                    [(ngModel)]="confirmPassword" 
                                    placeholder="Confirme a nova senha" 
                                    [toggleMask]="true" 
                                    styleClass="mb-8" 
                                    [fluid]="true" 
                                    [feedback]="false"
                                    [disabled]="isLoading"></p-password>

                        <p-button label="Salvar Nova Senha" 
                                  styleClass="w-full" 
                                  [loading]="isLoading" 
                                  (click)="onSubmit()"></p-button>
                    </div>
                </div>

                <div *ngIf="isSuccess" class="text-center">
                    <i class="pi pi-check-circle text-primary" style="font-size: 3rem"></i>
                    
                    <div class="text-surface-900 dark:text-surface-0 text-3xl font-medium my-4">Senha Redefinida!</div>
                    
                    <div class="text-muted-color font-medium mb-8">
                        Sua senha foi alterada com sucesso.
                        Você já pode fazer o login com sua nova senha.
                    </div>

                    <a routerLink="/auth/login" class="text-primary cursor-pointer font-bold">Voltar para o Login</a>
                </div>

            </div>
        </div>
    </div>
</div>