<p-toast></p-toast> <div *ngIf="!experimento" class="flex justify-content-center align-items-center" style="height: 200px;">
    <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
    <span class="ml-2">Carregando dados do experimento...</span>
</div>

<div *ngIf="experimento" class="grid">
    <div class="col-12 md:col-6">
        <p-card>
            <ng-template pTemplate="title">
                {{ experimento.nome }}
            </ng-template>
            <ng-template pTemplate="subtitle">
                Pesquisador Responsável: {{ experimento.pesquisador?.nome }}
            </ng-template>
            
            <p><strong>Descrição:</strong> {{ experimento.descricao }}</p>
            <p><strong>Status:</strong> {{ experimento.statusExperimento || 'N/A' }}</p>
            <p><strong>Período:</strong> {{ experimento.dataInicio | date:'dd/MM/yyyy' }} a {{ experimento.dataFim | date:'dd/MM/yyyy' }}</p>

            <hr class="my-4">

            <h5>Participantes Inscritos neste Experimento ({{ experimento.participantes?.length || 0 }})</h5>
            
            <p-table [value]="experimento.participantes" [tableStyle]="{'min-width': '30rem'}">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-participante>
                    <tr>
                        <td>{{ participante.nomeCompleto }}</td>
                        <td>{{ participante.email }}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="2">Nenhum participante inscrito neste experimento ainda.</td>
                    </tr>
                </ng-template>
            </p-table>

            <ng-template pTemplate="footer">
                <button pButton type="button" label="Voltar para a lista" icon="pi pi-arrow-left" class="p-button-outlined" routerLink="/experimentos"></button>
            </ng-template>
        </p-card>
    </div>

    <div class="col-12 md:col-6">
        <p-card header="Adicionar Participantes ao Experimento">
            
            <p-table [value]="todosParticipantes" [tableStyle]="{'min-width': '30rem'}" [scrollable]="true" scrollHeight="400px">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Nome</th>
                        <th>Ação</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-participante>
                    <tr>
                        <td>{{ participante.nomeCompleto }}</td>
                        <td>
                            <p-button 
                                icon="pi pi-plus" 
                                label="Adicionar" 
                                (click)="adicionarParticipante(participante.id)"
                                [disabled]="isParticipanteNoExperimento(participante.id)"
                                styleClass="p-button-sm">
                            </p-button>
                        </td>
                    </tr>
                </ng-template>
                 <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="2">Nenhum participante cadastrado no sistema.</td>
                    </tr>
                </ng-template>
            </p-table>

        </p-card>
    </div>
</div>